:host {
  .text-lbl {
    font-weight: bold;
    display: inline-block;
    margin: 0.5rem 0;
  }

  input {
    display: block;
    height: 42px;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    background-color: var(--tertiary-background);
    color: var(--text-primary);
    border: 1px solid var(--secondary-background);
    &:focus {
      outline: 1px solid var(--secondary-background);
    }
  }

  input[type='text'] {
    &::placeholder {
      color: var(--placeholder);
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: var(--placeholder);
    }

    &::-moz-placeholder {
      color: var(--placeholder);
    }

    &:-ms-input-placeholder {
      color: var(--placeholder);
    }

    &::-ms-input-placeholder {
      color: var(--placeholder);
    }
  }
}
