@use 'src/styles/variables';
@use 'src/styles/mixins' as *;

:host {
  display: block;
  margin: 8px 0;
  .menu-lbl {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
    color: var(--text-primary);
  }
  .custom-dropdown {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
  }

  .custom-dropdown-trigger {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    @include theme-styles();
  }

  .custom-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    box-sizing: border-box;
    color: var(--text-primary);
    border: 1px solid var(--quaternary-background);
    background-color: var(--quaternary-background);
    box-shadow: 1px 1px 3px var(--box-shadow);
  }

  .custom-dropdown.open .custom-dropdown-menu {
    display: block;
  }

  .custom-dropdown-item {
    padding: 10px;
    cursor: pointer;
    &.active {
      background-color: var(--tertiary-background);
    }
  }

  .custom-dropdown-item:hover {
    background-color: var(--tertiary-background);
  }
}
