$caret-size: 1.2em;

:host {
  display: block;
  width: fit-content;
  font-size: 16px;
  box-sizing: border-box;

  .dropdown {
    position: relative;

    .menu {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #f9f9f9;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      cursor: pointer;
      .display {
        border-right: 1px solid #e9e9e9;
        padding: 8px;
        text-align: center;
        min-width: 32px;
      }
      .icon {
        width: 24px;
        height: 24px;
        padding: 4px 8px;
      }
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked + .menu-list {
      display: flex;
    }

    .menu-list {
      display: none;
      flex-direction: column;
      overflow: scroll;
      background-color: #f9f9f9;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      max-height:150px;
    }
    .menu-list-item {
      text-indent: 8px;
      padding: 8px;
      border-bottom: 1px solid #e9e9e9;
      cursor: pointer;
      height: 20px;
      &.selected {
        background-color: #d9d9d9;
      }
    }
  }
}
