@use 'src/styles/elements';

:host {
  display: block;
  .checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type='checkbox'] {
      display: none;
    }

    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: background-color 0.1s ease, border-color 0.1s ease;
      border: 1px solid var(--text-tertiary);
      background-color: var(--tertiary-background);
    }

    input[type='checkbox']:checked + .checkbox {
      background-color: #3d3d3d;
      color: #f9f9f9;
      .icon {
        visibility: visible;
      }
    }

    .icon {
      height: 16px;
      width: 16px;
      visibility: hidden;
    }
  }
}
