:host {
  display: flex;
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    inline-size: 1rem;
    block-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    accent-color: #007bff;

    &:checked {
      background-color: #007bff;
      border-color: #007bff;
      // Add checkmark
      position: relative;
      &::after {
        content: '\2713';
        position: absolute;
        color: white;
        font-size: 0.75rem;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  label {
    display: inline-flex;
    gap: 2px;
    align-items: center;
    justify-content: flex-start;
    max-inline-size: fit-content;
    cursor: pointer;
  }
}
