:host {
  button {
    all: unset;
    display: block;
    position: relative;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .button-rounded {
    border-radius: 50%;
    padding: 4px;
  }
}
