@use 'src/styles/elements';
@use 'src/styles/button';

:host {
  position: relative;
  width: 100%;
  height: fit-content;

  .clrpick-wrap {
    position: absolute;
    z-index: 10;
  }

  .form-element {
    width: 100%;
    button {
      display: grid;
      grid-template-columns: 18px 1fr;
      align-items: center;
      gap: 8px;
      padding: 0;
      background: none;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      height: auto;

      .clr-block {
        display: block;
        width: 16px;
        height: 16px;
        margin-bottom: 0;
        border-radius: 4px;
        border: 1px solid var(--text-tertiary);
        background-color: var(--tertiary-background);
      }
    }
  }
}

:host(.block-style) {
  .form-element {
    button {
      display: flex;
      flex-direction: column-reverse;
      align-items: start;
      .clr-block {
        height: 16px;
        padding: 4px;
        width: 100%;
      }
    }
  }
}
