@use './mixins' as *;
@use 'src/styles/variables' as *;
@use './label';

:host {
  .form-element {
    position: relative;
    textarea,
    input,
    select {
      all: unset;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 36px;
      border-radius: var(--p-border-radius);
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      font-size: 15px;
      text-align: left;
      @include theme-styles();
    }

    textarea,
    input,
    select {
      &::placeholder {
        color: var(--placeholder);
        opacity: 1;
      }

      &::-webkit-input-placeholder {
        color: var(--placeholder);
      }

      &::-moz-placeholder {
        color: var(--placeholder);
      }

      &:-ms-input-placeholder {
        color: var(--placeholder);
      }

      &::-ms-input-placeholder {
        color: var(--placeholder);
      }
    }

    textarea {
      height: auto;
    }
  }
}
