@use './mixins' as *;

:host {
  .form-element {
    position: relative;

    label {
      display: inline-block;
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 450;
      margin-bottom: 4px;
      font-family: system-ui, -apple-system;
    }

    textarea,
    input,
    select {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 8px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 6px;
      font-size: 15px;
      @include theme-styles();
    }

    textarea,
    input,
    select {
      &::placeholder {
        color: var(--placeholder);
        opacity: 1;
      }

      &::-webkit-input-placeholder {
        color: var(--placeholder);
      }

      &::-moz-placeholder {
        color: var(--placeholder);
      }

      &:-ms-input-placeholder {
        color: var(--placeholder);
      }

      &::-ms-input-placeholder {
        color: var(--placeholder);
      }
    }
  }

  .form-element.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      margin-bottom: 0px;
    }
  }
}
