@use './mixins' as *;

:host {
  display: block;
  textarea,
  input,
  select {
    display: block;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    @include theme-styles();
  }

  textarea,
  input,
  select {
    &::placeholder {
      color: var(--placeholder);
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: var(--placeholder);
    }

    &::-moz-placeholder {
      color: var(--placeholder);
    }

    &:-ms-input-placeholder {
      color: var(--placeholder);
    }

    &::-ms-input-placeholder {
      color: var(--placeholder);
    }
  }
}
