:host {
  .form-element {
    label {
      display: inline-block;
      color: var(--text-primary);
      font-weight: bold;
      font-size: 15px;
      font-family: system-ui, sans-serif;
      margin-bottom: 8px;
    }
  }

  .form-element.horizontal {
    label {
      margin-bottom: 0px;
    }
  }
}
