:host {
  label {
    display: block;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 450;
    margin-bottom: 8px;
    font-family: system-ui, -apple-system;
    text-align: left;
  }
}
