@use 'src/styles/variables';

:host {
  display: block;
  margin: 8px 0;

  .color-picker {
    .text-lbl {
      font-weight: bold;
      display: inline-block;
      margin-bottom: 8px;
    }

    .color-items {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    button.rounded,
    label.rounded {
      outline: none;
      border: 1px solid var(--text-tertiary);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .rounded {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    input[type='color'] {
      position: absolute;
      left: 4px;
      top: 4px;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border: none;
      padding: 0;
    }

    .active {
      outline: 2px solid var(--active-border);
      box-shadow: 0 0 2px 5px var(--box-shadow);
    }
  }
}
