@use 'src/styles/button';

:host {
  display: block;
  width: 100%;
  height: 100%;

  .dialog {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    overflow: auto;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    box-sizing: border-box;

    @media only screen and (max-width: 600px) {
      padding: 0;
    }

    .content {
      background-color: var(--primary-background, #ffffff);
      color: var(--text-primary, #3d3d3d);
      border-radius: 8px;
      text-align: center;
      position: relative;
      height: 100%;
      width: 100%;
    }

    .button-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background-color: var(--tertiary-background);
      color: var(--text-primary);
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--quaternary-background);
      }
    }
  }

  .dialog[data-open] {
    display: block;
  }
}

:host(.no-blur) {
  .dialog {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
