:host {
  display: block;
  label {
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    font-family: system-ui, sans-serif;
  }
  .color-wrapper {
    position: relative;
    button {
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
    .button-picker {
      display: flex;
      align-items: center;
      gap: 8px;
      label {
        color: var(--text-primary);
      }
    }
    .color-picker {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}
