@use '../../styles/button';
@use '../../styles/labels';

:host {
  display: block;

  button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .clr {
    position: relative;
    .clrpick-wrap {
      position: absolute;
    }
  }
}
