@use 'src/styles/variables';

:host {
  display: flex;
  gap: 8px;
  align-items: center;
}

:host(.rounded) {
  .wrapper {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-background);
    box-sizing: border-box;
    padding: 8px;
    .icon {
      height: 36px;
      width: 36px;
      display: block;
    }
  }
}
