@use 'src/styles/variables';
@use 'src/styles/mixins' as *;
@use 'src/styles/labels';

:host {
  display: block;
  margin: 8px 0;

  .custom-dropdown {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
  }

  .custom-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    @include theme-styles();

    &::after {
      content: '';
      display: inline-block;
      border: solid currentColor;
      border-width: 0 2px 2px 0;
      padding: 4px;
      transform: rotate(45deg);
      transition: transform 0.2s ease;
      margin-left: 8px;
    }

    &.open::after {
      transform: rotate(-135deg);
    }
  }

  .custom-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    box-sizing: border-box;
    color: var(--text-primary);
    border: 1px solid var(--tertiary-background);
    background-color: var(--secondary-background);
    box-shadow: 1px 1px 3px var(--box-shadow);
  }

  .custom-dropdown.open .custom-dropdown-menu {
    display: block;
  }

  .custom-dropdown-item {
    padding: 10px;
    cursor: pointer;
    &.active {
      background-color: var(--tertiary-background);
    }
  }

  .custom-dropdown-item:hover {
    background-color: var(--quaternary-background);
  }
}
