@use 'src/styles/button';

:host {
  display: block;

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .g-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    align-items: center;
  }

  .gallery-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .gallery-item {
    border-radius: 4px;
    border: 1px solid var(--tertiary-background);
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-background);
    color: var(--text-primary);
    padding: 4px 8px;
    text-transform: capitalize;
    h3 {
      margin: 0;
      padding: 0;
    }
    .btn-action {
      display: flex;
      gap: 4px;
    }
  }

  .gallery-content {
    padding: 0.75rem;
  }
  .empty-message {
    color: var(--text-secondary);
  }
  .icon-group {
    display: flex;
    gap: 0.5rem;
  }
}

:host(.view-only) {
  .btn-actions {
    display: none;
  }
}
