:host {
  display: block;

  .color-picker {
    .text-lbl {
      font-weight: bold;
      display: inline-block;
      margin: 0.5rem 0;
    }

    .color-items {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }

    button {
      outline: none;
      border: 1px solid var(--text-tertiary);
    }

    .rounded {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    input[type='color'] {
      -webkit-appearance: none;
      appearance: none;
      background: none;
      border: 1px solid var(--text-tertiary);
      border-radius: 4px;
      padding: 0;
      margin: 0;
      height: 36px;
      width: 100%;
    }

    .active {
      outline: 2px solid #ffffff;
      box-shadow: 0 0 2px 5px var(--box-shadow);
    }

    input[type='color']:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--box-shadow);
    }

    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0px;
    }
    input[type='color']::-moz-color-swatch {
      border: none;
      padding: 0;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
      border: none;
    }
  }
}
