@use 'src/styles/button';
:host {
  display: block;
  width: 100%;
  color: var(--text-primary);

  .grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols, 8), 1fr);
    gap: 8px;
  }

  .grid-item {
    position: relative;
    border: 1px solid var(--tertiary-background);
    background-color: var(--secondary-background);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .button-rounded {
      position: absolute;
      background-color: var(--tertiary-background);
      top: -8px;
      right: -8px;
      icon-close {
        height: 16px;
        width: 16px;
      }
      &:hover {
        box-shadow: 0 0 1px 0 var(--box-shadow);
        background-color: var(--quaternary-background);
      }
    }

    .gallery-image {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      background: var(--tertiary-background);
      min-height: 80px;
      border-radius: 4px;
    }

    &:hover {
      img {
        filter: grayscale(100%) brightness(1.2); // subtle pop
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6); // glow layers
        transition: filter 0.3s ease, box-shadow 0.3s ease;
      }
    }
  }

  /* On small screens, full width */
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

:host(.view-only) {
  .button-delete {
    display: none;
  }
}
