.container {
  display: block;
  width: 100%;
  background-color: blue;
  box-sizing: border-box;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  background-color: #e9e9e9;
}

.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-list-item {
  text-indent: 8px;
  padding: 8px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  height: 20px;
  &.selected {
    background-color: #d9d9d9;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  color: #313131;
  padding: 32px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 8px;
}

.icon {
  height: 24px;
  width: 24px;
}

.dark {
  background-color: #3d3d3d;
  color: var(--primary-color);
  --primary-color: #ffffff;
}
.light {
  --primary-color: #3d3d3d;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.blue {
  --primary-color: #0000ff;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1rem;
}

:host {
  --primary-hover-color: #cacaca;
}

.width-sm {
  max-width: 40dvw;
}

.width-md {
  max-width: 80dvw;
}
