.container {
  display: block;
  width: 100%;
  background-color: blue;
  box-sizing: border-box;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  background-color: #e9e9e9;
}

.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-list-item {
  text-indent: 8px;
  padding: 8px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  height: 20px;
  &.selected {
    background-color: #d9d9d9;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  color: #313131;
  padding: 32px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 8px;
}

.icon {
  height: 24px;
  width: 24px;
  color: yellow;
}

.dark {
  background-color: #3d3d3d;
  color: var(--primary-color);
  --primary-color: #ffffff;
}
.light {
  --primary-color: #3d3d3d;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.blue {
  --primary-color: #0000ff;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1rem;
}

:host {
  --primary-hover-color: #cacaca;
}

.width-sm {
  max-width: 40dvw;
}

.width-md {
  max-width: 80dvw;
}

:root {
  --text-primary: oklch(0.2 0.03 260);
  --text-secondary: oklch(0.4 0.02 260);
  --text-tertiary: oklch(0.7 0.01 260);

  --primary-background: #f5f5f5;
  --secondary-background: oklch(0.96 0 0);
  --tertiary-background: oklch(0.92 0 0);
  --quaternary-background: oklch(0.88 0 0);

  --button-primary: oklch(0.65 0.15 230);
  --button-text-primary: oklch(0.98 0 0);
  --button-secondary: oklch(0.85 0.02 250);
  --button-text-secondary: oklch(0.3 0.01 260);

  --icon-bg: var(--tertiary-background);
  --icon-border: var(--tertiary-background);
  --icon-color: var(--text-secondary);

  --box-shadow: oklch(0.9 0 0);
  --placeholder: oklch(0.68 0.01 260);

  --error-text: oklch(0.65 0.2 30);
  --active-border: oklch(0.75 0.13 260);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: oklch(0.95 0 0);
    --text-secondary: oklch(0.75 0 0);
    --text-tertiary: oklch(0.6 0 0);
    --primary-background: oklch(0.18 0 0);
    --secondary-background: oklch(0.24 0 0);
    --tertiary-background: oklch(0.32 0 0);
    --quaternary-background: oklch(0.38 0 0);
    --box-shadow: oklch(0.3 0 0);
    --placeholder: oklch(0.5 0 0);
  }
}

.dark,
.light,
.blue {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.dark {
  padding: 8px;
  border-radius: 4px;
  background-color: #3d3d3d;
  .icon {
    color: #f9f9f9;
  }
}

.light {
  padding: 8px;
  border-radius: 4px;
  background-color: #f9f9f9;
  .icon {
    color: #3d3d3d;
  }
}

.blue {
  padding: 8px;
  border-radius: 4px;
  background-color: #3d3d3d;
  .icon {
    color: oklch(87.9% 0.169 91.605);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-background);
}

#storybook-root {
  height: 100%;
  width: 100%;
}

.position-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.top-right {
  justify-content: flex-end;
}

.top-left {
  justify-content: flex-start;
}

.bottom-left {
  align-items: end;
}

.bottom-right {
  align-items: end;
  justify-content: flex-end;
}

.center-middle {
  align-items: center;
  justify-content: center;
}

.color-picker-wrapper {
  width: 100px;
  height: 16px !important;
  background-color: #ccc;
  position: relative;
}

.color-picker-overflow-hidden {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: fixed;
}
