.container {
  display: block;
  width: 100%;
  background-color: blue;
  box-sizing: border-box;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  background-color: #e9e9e9;
}

.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-list-item {
  text-indent: 8px;
  padding: 8px;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
  height: 20px;
  &.selected {
    background-color: #d9d9d9;
  }
}

.icons {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  color: #313131;
  padding: 32px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 8px;
}

.icon {
  height: 24px;
  width: 24px;
}

.dark {
  background-color: #3d3d3d;
  color: var(--primary-color);
  --primary-color: #ffffff;
}
.light {
  --primary-color: #3d3d3d;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.blue {
  --primary-color: #0000ff;
  background-color: #f9f9f9;
  color: var(--primary-color);
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 1rem;
}

:host {
  --primary-hover-color: #cacaca;
}

.width-sm {
  max-width: 40dvw;
}

.width-md {
  max-width: 80dvw;
}

:root {
  //new variables
  --text-primary: oklch(0.12 0 0); /* near black for headlines */
  --text-secondary: oklch(0.35 0 0); /* muted for labels, meta info */
  --text-tertiary: oklch(0.5 0 0); /* placeholder or disabled text */

  --primary-background: oklch(0.98 0 0);
  --secondary-background: oklch(0.95 0 0);
  --tertiary-background: oklch(0.92 0 0);

  --button-primary: oklch(60.9% 0.126 221.723);
  --button-text-primary: oklch(98.5% 0 0);
  --button-secondary: oklch(77.2% 0 0);
  --button-text-secondary: oklch(30% 0 0);
  --box-shadow: oklch(92.2% 0 0);

  --icon-bg: var(--tertiary-background);
  --icon-border: var(--tertiary-background);
  --icon-color: var(--primary-secondary);

  --hightlight: oklch(93.2% 0.032 255.585);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: oklch(0.98 0 0); /* white text for headings */
    --text-secondary: oklch(0.75 0 0); /* lighter gray for body */
    --text-tertiary: oklch(0.55 0 0); /* hint text */
    --primary-background: oklch(0.18 0 0);
    --secondary-background: oklch(0.25 0 0);
    --tertiary-background: oklch(0.3 0 0);
    --box-shadow: oklch(87% 0 0);
  }
}

.dark,
.light,
.color {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.dark {
  padding: 8px;
  border-radius: 4px;
  background-color: #3d3d3d;
  .icon {
    color: #f9f9f9;
  }
}

.light {
  padding: 8px;
  border-radius: 4px;
  background-color: #f9f9f9;
  .icon {
    color: #3d3d3d;
  }
}

.color {
  padding: 8px;
  border-radius: 4px;
  background-color: oklch(44.4% 0.011 73.639);
  .icon {
    color: oklch(87.9% 0.169 91.605);
  }
}
