:host {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;

  .toast {
    padding: 6px 10px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 2px 10px var(--box-shadow, rgba(0, 0, 0, 0.2));
    background-color: var(--secondary-background, #f9f9f9);
    color: var(--text-primary);
  }

  .toast.success {
    border-left: 4px solid #4caf50;
    .icon {
      color: #4caf50;
    }
  }

  .toast.error {
    border-left: 4px solid #f44336;
    .icon {
      color: #f44336;
    }
  }

  .toast-header {
    font-weight: bold;
  }

  .toast-message {
    margin-left: 10px;
    flex: 1;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-button icon-close {
    width: 16px;
    height: 16px;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}
