:host {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;

  .toast {
    padding: 2px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px;
    width: fit-content;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(153, 153, 153, 0.1), 0 0 12px rgba(153, 153, 153, 0.14);
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
  }
  .toast-message {
    margin-left: 10px;
    flex: 1;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .close-button icon-close {
    width: 16px;
    height: 16px;
  }

  .fade-out {
    animation: fadeOut 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}
