:host {
  .spinner {
    position: relative;
    display: block;
  }
  .spinner::before,
  .spinner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 3px solid transparent;
  }
  .spinner::before {
    border-color: color-mix(in srgb, currentColor 30%, transparent);
  }

  .spinner::after {
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

:host {
  .spinner {
    height: 16px;
    width: 16px;
  }
  .spinner::before,
  .spinner::after {
    width: 100%;
    height: 100%;
    margin: -11px 0 0 -11px;
  }
}

:host(.large) {
  .spinner {
    height: 24px;
    width: 24px;
  }
  .spinner::before,
  .spinner::after {
    width: 100%;
    height: 100%;
    margin: -21px 0 0 -21px;
  }
}
