.icon {
  .spinner {
    width: 44px;
    height: 44px;
    position: relative;
    display: inline-block;
  }

  .spinner::before,
  .spinner::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -14px 0 0 -14px;
    border-radius: 50%;
    border: 3px solid transparent;
  }
  .spinner::before {
    border-color: color-mix(in srgb, currentColor 30%, transparent);
  }

  .spinner::after {
    border-top-color: inherit;
    border-right-color: inherit;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
