@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
  margin: 8px 0;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-radius: $border-radius;
    text-align: center;
    stroke-dasharray: 2px, 5px;
    @include theme-styles();
    justify-content: center;
    align-items: center;
  }

  input[type='file'] {
    display: none;
  }
  .icon {
    height: 3rem;
    width: 3rem;
  }
  p {
    font-size: 14px;
  }
}
